<style>
  label, label > span { display: block; }
  label { margin: 15px 0; }
</style>

<a href="/">首頁</a>

<form action="" method="post">
  <label>
    <span>應用名稱</span>
    <input type="text" name="client_name" value="api">
  </label>
  <label>
    <span>應用 URI</span>
    <input type="url" name="client_uri" value="http://127.0.0.1">
  </label>
  <label>
    <span>作用範圍</span>
    <input type="text" name="scope" value="access">
  </label>
  <label>
    <span>回調 URIs</span>
    <textarea name="redirect_uri" cols="30" rows="10">http://127.0.0.1/callback</textarea>
  </label>
  <label>
    <span>允許請求類型</span>
    <textarea name="grant_type" cols="30" rows="10">authorization_code</textarea>
  </label>
  <label>
    <span>允許響應類型</span>
    <textarea name="response_type" cols="30" rows="10">code</textarea>
  </label>
  <label>
    <span>Token Endpoint Auth Method</span>
    <select name="token_endpoint_auth_method">
      <option value="client_secret_basic">client_secret_basic</option>
      <option value="client_secret_post">client_secret_post</option>
      <option value="none">none</option>
    </select>
  </label>
  <button>送出</button>
</form>
