{% if user %}
<style>pre{white-space:wrap}</style>
<div>登入者: <strong>{{user}}</strong> (<a href="{{ url_for('.logout') }}">登出</a>)</div>

{% for client in clients %}
<pre>
<strong>應用資訊</strong>
  {%- for key in client.client_info %}
  <strong>{{ key }}: </strong>{{ client.client_info[key] }}
  {%- endfor %}
<strong>應用資料</strong>
  {%- for key in client.client_metadata %}
  <strong>{{ key }}: </strong>{{ client.client_metadata[key] }}
  {%- endfor %}
</pre>
<hr>
{% endfor %}

<br><a href="{{ url_for('.create_client') }}">新增應用</a>

{% else %}
<form action="" method="post">
  <input type="text" name="username" placeholder="username">
  <button type="submit">登入/註冊</button>
</form>
{% endif %}
